.cardLancamento {
  display: flex;
  flex-direction: column;
}

.cardLancamento h3 {
  margin: 24px 0;
  color: var(--white);
}

.cardLancamento p:nth-child(3) {
  margin-bottom: 32px;
  color: var(--gray);
  font-family: var(--second-font);
}

.cardLancamento p {
  margin-top: auto;
}

.cardLancamento a {
  background-image: var(--main);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}