.smallCard {
  display: flex;
  flex-direction: column;
}

.smallCard h3 {
  margin: 24px 0;
  color: var(--white);
}

.smallCard p:nth-child(3) {
  margin-bottom: 32px;
  color: var(--gray);
  font-family: var(--second-font);
}

.smallCard p {
  margin-top: auto;
}

.smallCard a {
  background-image: var(--main);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}